{{#author}}
<h1>{{first_name}} {{last_name}}</h1>
<p class="author-id" data-id={{ id }}>
  ID: {{ id }}
</p>
<img src="{{ portrait_url }}" alt="{{first_name}} {{last_name}}" />
<p>
  {{ biography }}
</p>
<button class="delete-author" data-id="{{id}}" type="button" name="delete">Delete</button>

<hr>
<h2>Edit the author info</h2>
<label for="title">Title</label>
<input class="title" type="text" name="title" value="{{ author.title }}">
<br>
<br>
<label for="genre">Genre</label>
<input class="genre" type="text" name="genre" value="{{ author.genre }}">
<br>
<br>
<label for="description">Description</label>
<input class="description" type="text" name="description" value="{{ author.description }}">
<br>
<br>
<label for="cover-url">Cover url</label>
<input class="cover-url" type="text" name="cover-url" value="{{ author.cover_url }}">
<br>
<br>
<button class="save-edit" type="button" name="save-edit">Save changes</button>
<div class="message">

</div>
{{/author}}
